@import "//fonts.googleapis.com/css?family=Questrial";
@import "//fonts.googleapis.com/css?family=Sanchez:400italic,400";

$sans-serif: 'Questrial', sans-serif;
$serif: 'Sanchez', serif;

$font-content: $sans-serif;
$font-heading: $serif;
